.additional__title {
  margin-bottom: 25px;
}

.additional__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.additional__item {
  padding: 15px 0 20px;
}

.additional__name {
  margin: 0;
  padding: 0;

  .oswald-font-m(16px, 16px);
  text-transform: uppercase;
}

.additional__value {
  .arial-font(14px, 14px);
}

.additional__cost {
  .arial-font(14px, 14px);
}

.additional__gift {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 280px;
  height: 290px;
  background: url("../../img/gift-photo-mobile@1x.jpg") no-repeat 0 0;
}

.additional__gift-description {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 125px;
  width: 165px;

  .arial-font(16px, 20px);
  text-align: center;
  color: #ffffff;
}
