.address__invite {
  margin: 0;
  padding: 0;

  width: 140px;
  .oswald-font-m(16px, 20px);
  text-transform: uppercase;
}

.address__text {
  margin: 0;
  padding: 0;

  width: 140px;
  .arial-font(14px, 20px);
}

.address__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 20px 25px;
  background-color: @light-gray;
}

.address__wrapper--white {
  background-color: #ffffff;
}

.address__map {
  position: relative;
  margin: 0;
  padding: 0;

  background-color: @light-gray;
}

.address__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}


.address__map--pin::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -65px;

  width: 124px;
  height: 106px;

  background: url("../img/map-pin.png") no-repeat 0 0;
  z-index: 20;
}

.address__map-image {
  display: block;
  width: 320px;
  height: 400px;
  margin: 0 auto;
}

@media (min-width: @table-width) {
  .address__wrapper {
    padding: 70px 70px 60px;
  }

  .address__invite {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }

  .address__text {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .address__text span {
    display: block;
    margin-top: 20px;
  }

  .address__map-image {
    width: 767px;
    height: 400px;
  }

  .address__map--pin::before {
    margin-top: -55px;
    margin-left: -55px;
  }
}

@media (min-width: @desktop-width) {
  .address {
    position: relative;
  }

  .address__wrapper {
    position: absolute;
    padding: 0;
    top: 95px;
    left: 110px;
    justify-content: space-around;
    width: 570px;
    height: 200px;

    background-color: #ffffff;
    z-index: 10;
  }

  .address__map {
    width: 100%;
    background-color: @light-green;
    overflow: hidden;
  }


  .address__map-image {
    width: 1440px;
    height: 400px;
  }

  .address__map--pin::before {
    left: auto;
    right: 320px;
    margin-top: -50px;
    margin-left: 0;
  }
}
