.advantage__title {
  margin-bottom: 30px;
}

.advantage__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantage__item {
  margin-bottom: 20px;

  .arial-font(14px, 18px);
}

.advantage--mb {
  margin-bottom: 40px;
}
