.example {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: @light-gray;
}

.example__description {
  width: 280px;
  margin: 0 auto;
}

.example__title {
  margin: 20px 0;
}

.example__text {
  margin-bottom: 25px;
  width: 270px;
  .arial-font(14px, 18px);
}

.example__wrapper {
  max-width: 280px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.example__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.example__value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 125px;
  height: 100%;
  padding: 15px;

  border: 1px solid #cdcdcd;
  border-radius: 5px;
  box-sizing: border-box;
  .oswald-font-m(24px, 24px);
  text-transform: uppercase;
  text-align: center;
}


.example__index {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-top: -10px;
  padding: 0 10px;
  width: 80px;
  background-color: @light-gray;
  .arial-font(12px, 12px);
}


.example__slider {
  max-width: 320px;
  margin: 0 auto;
}

.example__subtitle {
  display: block;

  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  .oswald-font-m(14px, 20px);
  text-transform: uppercase;
  text-align: center;
}


@media (min-width: @table-width) {
  .example {
    background-image: linear-gradient(#ffffff 575px, transparent 575px, transparent 100%);
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
  }

  .example__slider {
    max-width: 768px;
  }

  .example__title {
    margin: 0;
    margin-bottom: 60px;
  }

  .example__list {
    width: 365px;
  }

  .example__index {
    width: auto;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
  }

  .example__value {
    min-height: 75px;
    min-width: 160px;
    max-width: 180px;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
  }

  .example__description {
    width: 708px;
    margin-bottom: 60px;
  }

  .example__text {
    margin-bottom: 55px;
    width: 680px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__subtitle {
    margin: 0;
    margin-top: 10px;
    width: 190px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-image: linear-gradient(#ffffff 190px, transparent 190px, transparent 100%),
      linear-gradient(90deg, transparent 0%, transparent 74.85%, #eaeaea 74.85%, #eaeaea 100%);
  }

  .example__container {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 1220px;
  }

  .example__wrapper {
    display: block;
  }

  .example__description {
    width: 460px;
    margin: 0;
    margin-right: 110px;
  }

  .example__slider {
    width: 690px;
  }

  .example__list {
    margin-bottom: 30px;
  }

  .example__title {
    margin: 0;
    margin-bottom: 140px;
    margin-top: 65px;
  }

  .example__subtitle {
    margin-bottom: 70px;
    width: 365px;
    text-align: left;
  }

  .example__subtitle span {
    margin-left: 60px;
  }

  .example__text {
    margin-bottom: 70px;
    width: 435px;
  }

  .example__index {
    background-color: @light-gray;
  }
}
