.logo {
  display: block;
}

.logo--full {
  width: 191px;
  height: 38px;
  background: url("../../img/logo-mobile.svg") no-repeat 0 0;
}

.logo--short {
  width: 128px;
  height: 24px;
  background: url("../../img/logo-footer.svg") no-repeat 0 0;
}
