.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 20px;

  border: none;
  font-size: 0;
}

.main-nav__toggle--open {
  width: 24px;
  height: 24px;

  background: url("../img/icon-mobile-menu.svg") no-repeat 0 0;
  // outline: none;
}

.main-nav__toggle--close {
  width: 18px;
  height: 18px;
  background: url("../img/icon-close.svg") no-repeat 0 0;
  // outline: none;
}

@media (min-width: @table-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: flex-end;
    width: 500px;
  }
}
