.page-main {
  position: relative;
  padding-top: 1px;
}

.page-main__container {
  width: 280px;
  margin: 0 auto;
}

.page-main__product-banner {
  margin-bottom: 20px;
}

.page-main__catalog {
  margin-bottom: 25px;
}

.page-main__additional {
  margin-bottom: 35px;
}

.page-main__form {
  margin-bottom: 30px;
}

@media (min-width: @table-width) {
  .page-main {
    width: auto;
  }

  .page-main__container {
    width: 710px;
  }

  .page-main__product-banner {
    margin-bottom: 0;
  }
}
