.page-footer {
  padding-bottom: 30px;

  background-color: @light-gray;
}

.page-footer__container {
  padding-bottom: 1px;
}

.page-footer__address {
  margin-bottom: 35px;
  background: #ffffff;
}

.page-footer__logo {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

.page-footer__social {
  margin-bottom: 15px;
}

.page-footer__copyright {
  margin: 0 20px;
}

@media (min-width: @table-width) {
  .page-footer {
    padding-bottom: 40px;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 30px;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin-top: 0;
  }

  .page-footer__container {
    margin: 0 40px;
  }
}
