.page-main {
  position: relative;
  padding-top: 1px;

  width: 320px;
}

.page-main__container {
  width: 280px;
  margin: 0 auto;
}

.page-main__title {
  margin-top: 30px;
  margin-bottom: 15px;
}

.page-main__product-banner {
  margin-bottom: 20px;
}

.page-main__programs {
  margin-bottom: 30px;
}

.page-main__advantage {
  margin-bottom: 40px;
}

.page-main__catalog {
  margin-bottom: 25px;
}

.page-main__additional {
  margin-bottom: 35px;
}
