.product-banner::before {
  content: "";
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  height: 305px;
  background: @bg-product url("../../img/index-background-mobile@1x.jpg") no-repeat 50% 0;

  z-index: -1;
}

.product-banner__title {
  margin-top: 30px;
  margin-bottom: 15px;
}

.product-banner__title--mobile {
  text-align: center;
  line-height: 36px;
  color: #ffffff;
}

.product-banner__tagline {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  text-align: center;

  .oswald-font-m(14px, 14px);
  text-transform: uppercase;
  color: #ffffff;
}

.product-banner__image {
  margin-bottom: 5px;
}


@media (min-width: @table-width) {
  .product-banner {
    position: relative;
  }

  .product-banner::before {
    display: none;
  }

  .product-banner__title {
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 90px;
    width: 430px;
    text-align: left;
    line-height: 60px;
    color: #000000;
  }

  .product-banner__tagline {
    margin-bottom: 15px;
    margin-left: 90px;
    .oswald-font-m(20px, 20px);
    text-align: left;
    color: #000000;
  }

  .product-banner__button {
    position: absolute;
    top: 210px;
    left: 90px;
  }
}

@media (min-width: @desktop-width) {
  .product-banner {
    position: static;
    margin-bottom: 270px;
  }

  .product-banner--bg-img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 720px;
    height: 692px;

    background: @light-green url("../../img/index-background-desktop@1x.jpg") no-repeat 0 0;
    z-index: -1;
  }

  .product-banner__button {
    position: static;
    margin-left: 90px;
  }

  .product-banner__image {
    position: absolute;
    top: 110px;
    right: 325px;
  }

  .product-banner__tagline {
    margin-bottom: 50px;
  }
}
