.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  background-color: @light-gray;
}

.programs__title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 70px;

  .oswald-font-m(24px, 38px);
  text-transform: uppercase;
}

.programs__item::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 20px;

  width: 52px;
  height: 52px;

  background-color: @light-green;
  border-radius: 50%;
}

.programs__item::after {
  content: "";
  position: absolute;
}

.programs__item--cat-slim::after {
  top: 25px;
  left: 30px;

  width: 35px;
  height: 49px;
  background: url("../img/icon-cat-slim.svg") no-repeat 0 0;
}

.programs__item--cat-pro::after {
  top: 37px;
  left: 12px;

  width: 67px;
  height: 28px;
  background: url("../img/icon-cat-pro.svg") no-repeat 0 0;
}

.programs__description {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  margin-bottom: 20px;

  .arial-font(14px, 18px);
  border-bottom: 1px solid @line-gray;
}

.programs__link {
  .oswald-font-m(16px, 16px);
  text-transform: uppercase;
  text-decoration: none;
}

.programs__link::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  margin-top: -2px;
  vertical-align: middle;


  width: 25px;
  height: 11px;

  background: url("../img/icon-right-arrow-verylong.svg") no-repeat 0 50%;
  transition: all 0.3s ease;
}

.programs__link:hover::after,
.programs__link:focus::after {
  width: 32px;
}

.programs__link:focus {
  outline: none;
  box-shadow: @outline-green;
}

.programs__link:active {
  opacity: 0.3;
}

.programs--mb {
  margin-bottom: 20px;
}

@media (min-width: @table-width) {
  .programs__item {
    margin-bottom: 30px;
    padding: 65px 55px;
  }

  .programs__title {
    margin-bottom: 20px;
    padding-left: 0;

    .oswald-font-m(36px, 37px);
  }

  .programs__description {
    padding-bottom: 0;
    margin-bottom: 60px;
    width: 340px;
    border: none;
    .arial-font(16px, 24px);
  }

  .programs__item::before {
    top: 50%;
    left: 445px;

    width: 200px;
    height: 200px;
    transform: translateY(-50%);
  }

  .programs__item--cat-slim::after {
    top: 80px;
    left: 475px;

    width: 140px;
    height: 195px;
  }

  .programs__item--cat-pro::after {
    top: 130px;
    left: 415px;

    width: 270px;
    height: 110px;
  }

  .programs__link {
    .oswald-font-m(20px, 20px);
  }

  .programs__link::after {
    margin-left: 20px;
  }

  .programs--mb {
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop-width) {
  .programs__list {
    display: flex;
    justify-content: space-between;
  }

  .programs__description {
    margin-bottom: 35px;
    width: 465px;
  }

  .programs__title {
    margin-bottom: 70px;
    padding-left: 160px;
  }

  .programs__item::before {
    top: 95px;
    left: 55px;

    width: 100px;
    height: 100px;
  }

  .programs__item--cat-slim::after {
    top: 40px;
    left: 65px;

    width: 70px;
    height: 100px;
  }

  .programs__item--cat-pro::after {
    top: 65px;
    left: 40px;

    width: 135px;
    height: 55px;
  }

  .programs--mb {
    margin-bottom: 40px;
  }
}
