.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  padding: 25px 0 20px;
  text-align: center;
  border-bottom: 1px solid @line-gray;
}


.site-list__item:last-child {
  margin-bottom: 0;
}

.site-list__link {
  position: relative;

  .oswald-font-l(20px, 20px);
  text-transform: uppercase;
  text-decoration: none;
}

.site-list__link:hover,
.site-list__link:focus {
  opacity: 0.6;
}

.site-list__link:active {
  opacity: 0.3;
}

.site-list__link--active:hover,
.site-list__link--active:focus,
.site-list__link--active:active {
  opacity: 1;
  cursor: default;
}

.site-list__link--active::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 2px;

  background-color: @light-green;
}

@media (max-width: @table-width) {
  .site-list {
    height: 0;
    transform: translateY(-100px);
    transition: all 0.5s ease;
  }

  .site-list--on {
    height: 197px;
    transform: translateY(0);
  }

  .site-list__item {
    display: none;
  }

  .site-list__item--on {
    display: block;
    transform: translateX(-100%);
    animation: menu-offset 0.2s ease forwards;
  }

  .site-list__item:nth-child(1) {
    animation-delay: 0.2s;
  }

  .site-list__item--on:nth-child(2) {
    animation-delay: 0.3s;
  }

  .site-list__item--on:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@media (min-width: @table-width) {
  .site-list {
    display: flex;
  }

  .site-list__item {
    padding: 10px 0;
    margin-right: 35px;
    border: none;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }

  .site-list__link {
    .oswald-font-m(18px, 25px);
  }
}


@media (min-width: @desktop-width) {
  .site-list__link {
    font-size: 20px;
  }

  .site-list__link--light {
    color: #ffffff;
  }

  .site-list__link--light::after {
    background-color: #ffffff;
  }
}

@keyframes menu-offset {
  to {
    transform: translateX(0);
  }
}
