.social-list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 20px 0;

  list-style: none;
  border-top: 1px solid @line-gray;
  border-bottom: 1px solid @line-gray;
}

.social-list__item + .social-list__item {
  margin-left: 30px;
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  outline: none;
}

.social__link:focus {
  box-shadow: @outline-green;
}

.social__icon {
  fill: @dark-gray;
}

.social__icon:hover {
  fill: @light-green;
}

.social__link:focus > .social__icon {
  fill: @light-green;
}

.social__icon:active {
  fill: @light-green;
  opacity: 0.3;
}

@media (min-width: @table-width) {
  .social-list {
    border: none;
  }

  .social__icon {
    width: 35px;
    height: 30px;
  }
}
