.social-list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 20px 0;

  list-style: none;
  border-top: 1px solid @line-gray;
  border-bottom: 1px solid @line-gray;
}

.social-list__item + .social-list__item {
  margin-left: 40px;
}

.social-list__link {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  outline: none;
}

.social-list__link:focus {
  box-shadow: @outline-green;
}

.social-list__icon {
  fill: @dark-gray;
}

.social-list__icon:hover {
  fill: @light-green;
}

.social-list__link:focus > .social-list__icon {
  fill: @light-green;
}

.social-list__icon:active {
  fill: @light-green;
  opacity: 0.3;
}

@media (min-width: @table-width) {
  .social-list {
    border: none;
  }

  .social-list__icon--vk {
    width: 30px;
    height: 16px;
  }

  .social-list__icon--insta {
    width: 23px;
    height: 23px;
  }

  .social-list__icon--fb {
    width: 14px;
    height: 28px;
  }
}
