.title {
  margin: 0;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
}

.title--size-l {
  font-size: 36px;
  line-height: 60px;
}

.title--size-m {
  font-size: 24px;
  line-height: 24px;
}


@media (min-width: @table-width) {
  .title--size-l {
    font-size: 60px;
  }
}
